.display-flex {
	display: flex;
}

.button {
	background-color: #ff0480;
	border-radius: 20px;
	font-size: 25px;
	height: 50px;
	color: white;
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
}

.button:active {
	transition: 0.3s;
	background-color: #fff;
	color: #ff0480;
}

.page-wrapper {
	height: 100vh;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #727881;
}

@media (max-width: 450px) {
	.button {
		font-size: 15px;
		height: 40px;
	}
}

.error-message-container {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.error-message-container p {
	width: 70%;
	text-align: center;
	font-family: system-ui;
	font-weight: 500;
}

.phone-icon {
	width: 100px;
	height: 100px;
	background: url('./assets/iphone.png') no-repeat center;
	background-size: contain;
}

.first-page-bg {
	background: url('./assets/me.JPEG') no-repeat center;
	background-size: cover;
	height: 100dvh;
}

.first-page {
	background: linear-gradient(transparent 60%, white 90%);
	height: 100dvh;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	transition: 0.1s;
}

@media (max-width: 1000px) {
	.first-page {
		background-size: cover;
	}
}

.first-page-title {
	/* backdrop-filter: blur(5px); */
	margin-bottom: 10px;
	color: #ff0480;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: right;
}

.first-page-title > .title {
	font-size: 85px;
	margin: 0px;
}

.first-page-title > .description {
	font-size: 32px;
	margin-bottom: 25px;
}

.first-page-title > .button {
	margin-top: 25px;
	align-self: center;
	width: 50%;
}

@media (max-width: 450px) {
	.first-page-title {
		padding: 10px 15px;
		margin-bottom: 40px;
	}
	.first-page-title > .title {
		font-size: 45px;
	}
	.first-page-title > .description {
		font-size: 20px;
	}
}

.second-page {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
	justify-content: space-around;
}

.second-page > .title {
	flex: 1;
	color: #727881;
	font-size: 90px;
	font-weight: 400;
	display: flex;
	align-items: center;
}

.second-page > .description {
	flex: 1;
	font-size: 40px;
	max-width: 700px;
	text-align: center;
	color: #727881;
	margin: 0 25px;
	font-weight: 400;
	/* margin-bottom: 90px; */
}

.second-page > .photos {
	flex: 2;
	width: 80%;
	display: flex;
	justify-content: center;
	display: flex;
	align-items: center;
	/* padding-bottom: 10%; */
}

@media (max-width: 450px) {
	.second-page > .title {
		font-size: 40px;
	}
	.second-page > .description {
		font-size: 18px;
		margin: 0 25px;
	}
}

@media (max-width: 389px) {
	.second-page > .description {
		font-size: 18px;
	}
}

.brightness-70 {
	backdrop-filter: brightness(70%);
	width: 100%;
	height: 100%;
}

.main-color {
	color: #ff0480;
}

.photo-of-works {
	width: 300px;
	height: 300px;
	/* filter: grayscale(1); */
}

.photo-1 {
	background: url('./assets/works/work1.JPEG') no-repeat center;
	background-size: cover;
}
.photo-2 {
	background: url('./assets/works/work2.JPEG') no-repeat center;
	background-size: cover;
}
.photo-3 {
	background: url('./assets/works/work3.JPEG') no-repeat center;
	background-size: cover;
}
.photo-4 {
	background: url('./assets/works/work4.JPEG') no-repeat center;
	background-size: cover;
}

@media (max-width: 450px) {
	.photo-of-works {
		width: 35vw;
		height: 35vw;
		margin-bottom: 10px;
	}
}

.price-list-page-wrapper {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #727881;
}

.price-list-page {
	margin: 0px 5px;
	padding: 10px 0 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
}

.price-list-page > .title {
	margin: 20px 0;
	color: #727881;
	font-size: 40px;
	font-weight: 400;
	align-text: center;
}
.price-list-card {
	width: 100%;
	border: 3px solid #ff0480;
	border-radius: 10px;
	padding: 10px 20px;
	margin-bottom: 10px;
	color: #727881;
	h2 {
		margin-top: 0;
	}
	box-sizing: border-box;
}

.service-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	p {
		width: 70%;
	}
	span {
		width: 20%;
		text-align: center;
	}
}

.bottom-row {
	color: #727881;
	padding: 40px 0 15px 0;
	border-bottom: 3px solid #ff0480;
	margin: 0 20px;
}

.work-examples-page {
	margin: 0 10px;
	padding-top: 10px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
	justify-content: space-around;
}

.work-examples-page > .title {
	margin-bottom: 30px;
	color: #727881;
	font-size: 40px;
	font-weight: 400;
	align-text: center;
}

.gallery-wrapper {
	position: relative;
	aspect-ratio: 1 / 1;
	width: 100%;
	margin-bottom: 10px;
}

.photo-slide-button-wrapper {
	display: flex;
	width: 40%;
	align-items: center;
}

.photo-slide-button {
	height: 80px;
	width: 20px;
	background-color: #0000002b;
	&.right {
		border-radius: 10px 0 0 10px;
	}
	&.left {
		border-radius: 0 10px 10px 0;
	}
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.more-works-button {
	box-sizing: border-box;
	width: 100%;
	border: 1px solid white;
	border-radius: 15px;
	color: white;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:active {
		background: #0000003b;
	}
	transition: 0.3s;
}

.contact-page {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	box-sizing: border-box;
	justify-content: flex-start;
	& > .title {
		pointer-events: none;
		text-decoration: none;
		color: #727881;
		font-size: 40px;
		font-weight: 400;
		margin-bottom: 60px;
	}
	& > .content {
		box-sizing: border-box;
		padding: 0 10px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.social-media-item {
	box-sizing: border-box;
	margin-bottom: 25px;
	width: 100%;
	background-color: #ff0480;
	border-radius: 20px;
	padding: 10px 30px 10px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:active {
		transition: 0.3s;
		background-color: #ff048073;
	}
}

.social-media-icon {
	margin-right: 20px;
	height: 30px;
}

.social-media-title {
	color: white;
	display: flex;
	align-items: center;
}

